.serviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.serviceTitle{
    font-weight: 700;
    font-size: 1.2rem;
}

.serviceCards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#040606;
    align-items: flex-start;
    align-items: center;
    width: 100%;

}

body.service-body{
    background-color: #fce4de !important;
}


.card{
    display: flex;
    background-color: #f6f1eb !important;
    border:none !important;
    border-radius: 2rem;
    cursor: pointer;
    padding:0.3rem;
    padding-bottom: 0.7rem;
    max-width: 19rem;
}

.reikiCard{
    display: flex;
    background-color: #f8cfc1 !important;
    border:none !important;
    border-radius: 2rem;
    cursor: pointer;
    padding:0.3rem;
    padding-bottom: 0.7rem;
    max-width: 21rem;
}


.cardImage{
    width:7rem;
    height:7rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}
.cardText{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 4px;
    text-align: center;
    font-weight: 700;

}

.cardSubtext {
    font-size: 0.7rem;
    font-weight: 500;
    text-align: left;
}

.divRow{
    display: flex;
    flex-direction: row;
    max-width: 19rem;
}

.divCol{
    display: flex;
    flex-direction: column;
    width:13rem !important;
    height:6rem;
}

.cardBtn {
   
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 0 10px;
}

.img {
    height: 5px !important;
    width: 5px !important;
}

.iconClass {
    margin-right: 1.5rem;
}

.iconHeight{
/*    height : 5rem;
    max-height: 5rem;*/
}