.btn-col{
    background-color: #fce4de !important;
}

.icon {
    background-color: grey !important;
}

.form {
    background-color: #F6F1EB;
}


.link{
    color: red;
    text-decoration : underline;
}

.fa-facebook {  
  background: #3B5998 !important;  
  color: white;  
  text-decoration: none;
}  

.fbutton {
    background: #3B5998 !important; 
    width: 40%;
}

.fa-google {  
  background: #dd4b39 !important;  
  color: white;  
  text-decoration: none;
}

.gbutton {
    background: #dd4b39 !important;
    width: 40%;
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0);
   
 }
 
  input.transparent-input{
        background-color:rgba(0,0,0,0) !important;
        
     }
 