.serviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
}

.serviceTitle{
    font-weight: 700;
    font-size: 1.2rem;
}

.serviceCards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#040606;
    align-items: flex-start;
}

body.service-body{
    background-color: #fce4de !important;
}

.card{
    display: flex;
    background-color: #f8cfc1 !important;
    border:none !important;
    border-radius: 2rem;
    cursor: pointer;
    padding:0.3rem;
}


.cardImage{
    width:7rem;
    height:7rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}
.cardText{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 4px;
    text-align: center;

}

.cardSubtext {
    width:12rem;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: left;
}

.divRow{
    display: flex;
    flex-direction: row;
    max-width: 19rem;
}

.divCol{
    display: flex;
    flex-direction: column;
}

.cardBtn {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: flex-end;
}

.img {
    height: 5px !important;
    width: 5px !important;
}