.btn-col { 
    background-color: red ;
    border-color: #fce4de ;
    box-shadow: none;
}

.card-bg {
    background-color: #ff4d4d !important;

}

  .hr1 {
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
      }

.btn {
  background-color: #ff4d4d ; 
  border: none; 
  color: white; 
  padding: 12px 16px;
  font-size: 16px; 
  box-shadow: 0;

}

.btn:hover{
    background-color: #ff4d4d;
}

.logout {
    margin-bottom: 0;
}      

.sideLinks{
    text-decoration: none;
    color : white;

}

.sideLinks:hover{
    color : #fce4de;
}