.footerContainer{
    background-color: #ff4d4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
    width: 100%;
    color: black;
    bottom:0px;
}

.footerTitle{
    text-align: center;
    font-weight: 600;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.footerLinks > div{
    cursor: pointer;
}